<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- 홈페이지(공통적용) 스타일시트 -->
<link rel="stylesheet" type="text/css"
	href="../../../resources/bootstrap/css/homeViewStyle.css">
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../../../resources/js/hiddenPlace/myHiddenPlace.js"></script>
<script
	src="../../../resources/js/hiddenPlace/myHiddenPlaceController.js"></script>
<script src="../../../resources/js/myRoute/myRouteController.js"></script>
</head>

<!-- 홈페이지 이벤트 핸들링 -->
<script type="text/javascript">
	$(document).ready(function() {

		var mhpController = new MyHiddenPlaceController();

		var myHiddenPlaces = mhpController.requestBestMHP();

		//var td_writer = $('<td style="width:80px"></td>').html(myHiddenPlaces[0].nowLoginId);
		//$('tbody').append(td_writer); //상단 로그인 어펜드 아직 미완성

		for (var i = 0; i < myHiddenPlaces.length; i++) {

			//var td_check = $('<td style="width:80px"></td>').html('<input type="checkbox">'); 체크박스만드는 소스
			var bookMark;

			if (myHiddenPlaces[i].bookmark == 0) { // 찜콩에 색이 없다 
				bookMark = $('<div class="col-sm-1"><img src ="' + myHiddenPlaces[i].imageUrl + '" class ="img-circle"></div>'); //찜콩이미지 색이 없는 코드
			} else { // 찜콩에 색이 있다.
				bookMark = $('<div class="col-sm-1"><img src ="' + myHiddenPlaces[i].imageUrl + '" class ="img-circle"></div>'); //찜콩이미지 색이 있는 코드	
			}

			var writer_a = $('<a href=""></a>');
			var writer = $('<h7 class="name"></h7>').html(myHiddenPlaces[i].writer); //작성자명
			writer_a.append(writer);

			var writer_div = $('<div class="personal_article"></div>');
			writer_div.append(writer_a);

			var writerDate_div = $('<div class="personal_article"></div>');
			var writerDate = $('<h7 class="insert_date"></h7>').html(myHiddenPlaces[i].writeDate); //현재시간
			writerDate_div.append(writerDate);

			var writerAndDate = $('<div class="col-sm-3"></div>');
			writerAndDate.append(writer_div, writerDate_div);

			var bestTitleBar = $('<div class="personal_article_space"></div>');
			bestTitleBar.append(bookMark, writerAndDate);

			var bestImage = $('<div class="col-sm-4"></div>');
			var image = $('<div><a href="#"><img class="hiddenPlace_img" src="' + myHiddenPlaces[i].imageUrl + '"></a></div>'); //이미지
			bestImage.append(bestTitleBar, image);

			$('#main_hiddenPlace').append(bestImage); //최종 append

		}

	});
</script>

<!-- 글쓰기 이벤트 핸들링 -->
<script>
	$(document).ready(function() {

		$('#write_button').click(function() {

			Controllers.getArticleController().requestWriteView();

		});

	});
</script>

<!-- 전체 선택 이벤트 핸들링 -->
<script type="text/javascript">
	$(document).ready(function() {

		$('#all_check').click(function() {

			var trs = $('tbody').children();

			if (this.checked) {
				for (var i = 0; i < trs.length; i++) {
					trs.eq(i).children().first().children().prop('checked', true);
				}

			} else {

				for (var i = 0; i < trs.length; i++) {
					trs.eq(i).children().first().children().prop('checked', false);
				}

			}

		});

	});
</script>

<!-- 글조회 이벤트 핸들링 -->
<script>
	$(document).ready(function() {

		$('.title_td').click(function() {

			var num = parseInt($(this).prev().text());
			Controllers.getArticleController().requestSelectOne(num);

		});

	});
</script>

<!-- 선택 삭제 이벤트 핸들링 -->
<script type="text/javascript">
	$(document).ready(function() {

		$('#delete_button').click(function() {

			var delete_nums = [];
			var trs = $('tbody').children();

			for (var i = 0; i < trs.length; i++) {
				var checked = trs.eq(i).children().first().children().prop('checked');
				if (checked) {
					var num = trs.eq(i).children().eq(1).text();
					delete_nums += num + ',';
				}
			}

			var length = delete_nums.length;
			Controllers.getArticleController().requestSelectedDelete(delete_nums.substring(0, length - 1));

			Controllers.getArticleController().requestSelectAllView();

		});

	});
</script>

<!-- 지역 선택 이벤트 핸들링 -->
<script  type="text/javascript">

	$(document).ready(function() {
		
		$('#regionChoice_button').click(function() {
			
			var region = $(this).text());
			var mhpController = new myHiddenPlaceController();
		
			var selectAll = mhpController.requestSelectAll(region);
			
		});
		
	});
	</script>

<body>
	<!-- 상단 메인 메뉴 바 -->
	<div class="container">
		<div class="col-sm-3">
			<a href="homeView.html"><img id="logo_img"
				src="../../../resources/bootstrap/img/logo.png"></a>
		</div>


		<div class="col-sm-9">
			<div id="login_button" class="btn-group">
				<button type="button" class="btn btn">로그인</button>
				<button type="button" class="btn btn">회원가입</button>
			</div>
		</div>
		<div class="col-sm-7">
			<div id="main_buttons" class="btn-group btn-group-justified">
				<a href="#" class="btn btn">홈페이지</a> <a href="#" class="btn btn">마이페이지</a>
				<a href="#" class="btn btn">나만의 루트</a> <a href="#" class="btn btn">즐겨찾기</a>
			</div>
		</div>

	</div>

	<!-- 메인 사진 박스 -->
	<div id="main_img_box" class="jumbotron">
		<img id="main_img" src="../../../resources/bootstrap/img/beer.jpeg"
			alt="jeju">

		<div class="main_img_text">
			<h2>내가 알지 못한 멋진 곳이 궁금하신가요?</h2>
		</div>
		<!-- 검색 박스 -->
		<div class="span12">
			<form id="custom-search-form"
				class="form-search form-horizontal pull-right">
				<div class="input-append span12">
					<input type="text" class="search-query" placeholder="#내가 알지 못한 곳">
					<button type="submit" class="glyphicon glyphicon-search">
						<i class="icon-search"></i>
					</button>
				</div>
			</form>
		</div>
	</div>



	<!-- 여기 위까지 header.html 로 할 예정 (아직은미정) -->


	<!-- 지역 선택 바 -->
	<div id="regionChoice" class="container">

		<div class="btn-group btn-group-justified">
			<a href="#" class="btn btn">서울</a> <a href="#" class="btn btn">대전</a>
			<a href="#" class="btn btn">광주</a> <a href="#" class="btn btn">대구</a>
			<a href="#" class="btn btn">부산</a>
		</div>

	</div>



	<!-- 내알못 추천 -->
	<div id="main_body" class="container">
		<div id="main_hiddenPlace" class="row"></div>
	</div>



	<!-- youtube & 날씨 들어갈 예정 -->
	<div class="container" style="text-align: center;">
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			<h4>날씨 자리</h4>
			
		</div>
		<div class="col-sm-5">
			<h4>유튜브 자리</h4>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<!-- footer.html 공간 나중에 밑에 div 삭제 -->
	<div id="bottom_body" class="container"></div>
</body>
</html>
