<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenix.hiddenplace.mapper.bookmarkMapper">


	<!-- 내알못 즐겨찾기 등록(홈페이지) -->
	<insert id="bookmarkInsertMHP">
		insert into TBL_BOOKMARK(NUM, USERID)
		values(#{num}, #{userId})
	</insert>
	
	<!-- 내알못 즐겨찾기 해제(홈페이지) -->
	<delete id="bookmarkDeleteMHP">
		delete from TBL_BOOKMARK
		where userId = #{userId}
		and num = #{num}
	</delete>
	
	<!-- 즐겨찾기페이지 선택삭제 -->
	<delete id="bookmarkDelete" parameterType="string">
		DELETE
		FROM
		TBL_BOOKMARK
		<where>
			FIND_IN_SET(BOOKMARKNUM, #{nums})
		</where>
	</delete>

	<select id="bookmarkMHPAll" resultType="Bookmark">
		  select TBL_BOOKMARK.BOOKMARKNUM, TBL_BOARD.TITLEIMGURL, TBL_BOARD.TITLE, TBL_BOARD.WRITEDATE, TBL_BOARD.READCOUNT, TBL_USER.USERNICKNAME
		  from TBL_BOOKMARK, TBL_BOARD, TBL_USER
		  where TBL_BOOKMARK.userId = #{userId} AND TBL_BOARD.NUM = TBL_BOOKMARK.NUM AND TBL_BOARD.USERID = TBL_USER.USERID
		  order by TBL_BOOKMARK.BOOKMARKNUM DESC  
		  limit #{page}, 6
	</select>
	
	<select id="bookmarkMRAll" resultType="Bookmark">
		  select TBL_MYROUTE.MRTITLEIMGURL, TBL_MYROUTE.TITLE, TBL_MYROUTE.WRITEDATE, TBL_MYROUTE.READCOUNT,
		  TBL_BOOKMARK.BOOKMARKNUM, TBL_USER.USERNICKNAME
		  from TBL_BOOKMARK, TBL_MYROUTE, TBL_USER
		  where TBL_BOOKMARK.userId = #{userId} AND TBL_MYROUTE.ROUTENUM = TBL_BOOKMARK.ROUTENUM
	</select>
	
	<!-- 즐겨찾기 페이징 -->
	<select id="listCount" resultType="int">
	
		  select count(BOOKMARKNUM) 
		  from tbl_bookmark 
		  where NUM > 0 
		  
	</select>

</mapper>