<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenix.hiddenplace.mapper.MyHiddenPlaceMapper">

<!-- <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql> -->

 	<select id="list" resultType="MyHiddenPlace">

		  select TBL_BOARD.NUM, TBL_BOARD.TITLE, TBL_BOARD.WRITEDATE, TBL_USER.USERNICKNAME, TBL_BOARD.READCOUNT, 
		  TBL_BOARD.TITLEIMGURL, TBL_BOARD.THEMECODE
		  from TBL_BOARD, TBL_USER
		  where TBL_BOARD.NUM > 0 and TBL_BOARD.USERID = TBL_USER.USERID
		  order by TBL_BOARD.NUM DESC  
		  limit #{page}, 12
		  
		<!-- <include refid="search"></include> -->
  
	</select> 
	
	<select id="themeList" resultType="Theme">

		  select *
		  from TBL_THEME
		  
  
	</select> 
	
	<select id="selectOne" resultType="MyHiddenPlace">

		  select TBL_BOARD.TITLE, TBL_BOARD.TITLEIMGURL, TBL_BOARD.CONTENT, TBL_BOARD.UPCOUNT, TBL_BOARD.STORENAME, TBL_USER.USERNICKNAME, TBL_BOARD.LATITUDE, TBL_BOARD.LONGITUDE, TBL_BOARD.USERID 
		  from TBL_BOARD, TBL_USER
		  where TBL_BOARD.NUM = #{num}
		  
	</select> 
	
	<update id="readCountPlus">

		  update TBL_BOARD set READCOUNT = READCOUNT + 1
		  where NUM = #{num}
		  
	</update> 
	

	<select id="listCount" resultType="int">
	
			<![CDATA[  
		  select count(NUM) 
		  from tbl_board 
		  where NUM > 0 
		]]>
		
	<!-- 	<include refid="search"></include> -->

	</select>
	
	<select id="bestMHP" resultType="MyHiddenPlace">
		  select TBL_BOARD.NUM, TBL_BOARD.WRITEDATE, TBL_USER.USERNICKNAME,
		  TBL_BOARD.READCOUNT, TBL_BOARD.TITLE, TBL_BOARD.타이틀이미지
		  from TBL_BOARD, TBL_USER
		  where TBL_BOARD.베스트코드 > 0
	</select> 

	<select id="bookmark" resultType="int">
		  select TBL_BOOKMARK.BOOKMARKCODE
		  from TBL_BOOKMARK
		  where num = #{num} and userId = #{userId}
	</select>
	
	<!-- <select id="readPage" resultType="org.toolbee.domain.BoardVO">
		select
		*
		from
		tbl_board
		where
		bno =
		#{bno}
	</select>

	<update id="update">
		update
		tbl_board
		set
		title = #{title}, content =
		#{content}
		where
		bno = #{bno}
	</update>

	<delete id="delete">
		delete from
		tbl_board
		where
		bno = #{bno}
	</delete>

	<select id="listAll" resultType="org.toolbee.domain.BoardVO">
	<![CDATA[
		select
			bno, title, content, writer, regdate, viewcnt
		from 
			tbl_board
		where 
			bno > 0 
		order by 
			bno desc, regdate desc
	]]>
	</select>

	<select id="listPage" resultType="BoardVO">
	<![CDATA[
		select
			bno, title, content, writer, regdate, viewcnt
		from 
			tbl_board
		where 
			bno > 0 
		order by 
			bno desc, regdate desc
		limit 
			#{page}, 10
	]]>
	</select>

	<select id="listCriteria" resultType="BoardVO">
	<![CDATA[
		select
			bno, title, content, writer, regdate, viewcnt
		from 
			tbl_board
		where 
			bno > 0 
		order by 
			bno desc, regdate desc
		limit 
			#{rowIndex}, #{perPageNum} 
	]]>
	</select>

	<select id="countPaging" resultType="int">
	<![CDATA[
		select
	 		count(bno)
		from 
			tbl_board
		where 
			bno > 0 
	]]>
	</select>

	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
		select *
		from 
			tbl_board
		where 
			bno > 0 
		]]>

		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR content like CONCAT('%', #{keyword}, '%')
				OR writer like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
		<![CDATA[
		order by 
			bno desc, regdate desc
		limit 
			#{rowIndex}, #{perPageNum} 
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select count(bno)
		from 
			tbl_board
		where 
			bno > 0 
		]]>
	</select> -->
		<insert id="insert">
		insert into TBL_BOARD (USERID, STORENAME,TITLEIMGURL,THEMECODE,TITLE,CONTENT,LATITUDE,LONGITUDE)
		values("qwer522", #{storeName}, #{titleImgUrl},#{themeCode},#{title},#{content}, #{latitude}, #{longitude})
		</insert>
	
	<!-- 로그인한 유저의 즐겨찾기 목록 -->
	<select id="bookmarkAll" resultType="MyHiddenPlace">
		  select TBL_BOOKMARK.NUM
		  from TBL_BOOKMARK
		  where userId = #{userId}
	</select>
	
</mapper>