<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenix.hiddenplace.mapper.MyRouteMapper">

	<select id="bestMR" resultType="MyRoute">
		  select TBL_MYROUTE.ROUTENUM, TBL_MYROUTE.WRITEDATE, TBL_USER.USERNICKNAME,
		  TBL_MYROUTE.READCOUNT, TBL_MYROUTE.TITLE, TBL_MYROUTE.MRTITLEIMGURL
		  from TBL_MYROUTE, TBL_USER
		  where TBL_BOARD.MHPBESTCODE = 1
	</select> 
	
</mapper>