@charset "UTF-8";

#headmenu-header {
	margin-top: 0 !important;
}

.jumbotron {
	padding: 0;
	position: fixed;
	width: 100%;
	height: 71px;
	opacity: 0.8;
	z-index: 10;
	margin: 0;
	background-color: white;
}

section {
	padding-top: 71px;
}

#headmenu-div {
    float: right; 
    margin: 12px 18% 8px 1%; 
	z-index: 5;
}

#headmenu-login, #headmenu-userInsert,
#headmenu-logout, #headmenu-myInfo,
#headmenu-bookmark{
	color: black;
	font-size: 16px;
	border:none;
	background-color: white;
}

#headmenu-logout:hover,#headmenu-login:hover,
#headmenu-userInsert:hover,#headmenu-myInfo:hover,
#headmenu-bookmark:hover {
	color:white;
}

header {
	margin: 0;
}

.jumbotron {
	padding: 0;
	position: fixed;
	width: 100%;
	opacity: 0.8;
	z-index: 3;
	margin: 0;
}

.logo {
	width: 180px;
	margin: 10px;
	margin-left: 18%; 
}

#headmenu_div {
	float: right;
	margin: 15px 18% 8px 1%;
	z-index: 5;
}

#search_bar {
	width: 400px;
	height: 40px;
	font-size: 20px;
}

.search_bar:focus + button {
	z-index: 3;   
}

#search_bar,
#search_button {
	position: absolute;
	right: 45%;
	top: 15px;
	border: 0;
}

#search_bar:focus {
	outline: none;
}





button, h2, a, input, label, span, text, div, form, p, font {
	font-family: 'baemin';
}


#login-modal .modal-dialog {
	width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg, #div-lost-msg, #div-register-msg {
	border: 1px solid #dadfe1;
	height: 30px;
	line-height: 28px;
	transition: all ease-in-out 500ms;
	margin-bottom: 2px;
}

#div-login-msg.success, #div-lost-msg.success, #div-register-msg.success
	{
	border: 1px solid #68c3a3;
	background-color: #c8f7c5;
}

#div-login-msg.error, #div-lost-msg.error, #div-register-msg.error {
	border: 1px solid #eb575b;
	background-color: #ffcad1;
}

#icon-login-msg, #icon-lost-msg, #icon-register-msg {
	width: 30px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #dadfe1;
	margin-right: 5px;
	transition: all ease-in-out 500ms;
}

#icon-login-msg.success, #icon-lost-msg.success, #icon-register-msg.success
	{
	background-color: #68c3a3 !important;
}

#icon-login-msg.error, #icon-lost-msg.error, #icon-register-msg.error {
	background-color: #eb575b !important;
}

#img_logo {
	max-height: 150px;
	max-width: 250px;
	margin-top: -15px;
	margin-bottom: -20px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */
.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .8;
}

.modal-content {
	background-color: #ececec;
	border: 1px solid #bdc3c7;
	border-radius: 0px;
	outline: 0;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px 15px 15px 15px;
	border-bottom: 0px;
}

.modal-body {
	position: relative;
	padding: 5px 15px 5px 15px;
}

.modal-footer {
	padding: 15px 15px 15px 15px;
	text-align: left;
	border-top: 0px;
}

.checkbox {
	margin-bottom: 0px;
}

.btn {
	border-radius: 0px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: none;
}

.btn-lg, .btn-group-lg>.btn {
	border-radius: 0px;
}

.btn-link {
	padding: 5px 10px 0px 0px;
	color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
	color: #2c3e50;
	text-decoration: none;
}

.glyphicon-lock, .glyphicon-envelope {
	top: 0px;
	color: gray;
}

#input_span {
	top: 10px;
}

.glyphicon-user, .glyphicon-check {
	top: 10px;
	color: gray;
}

.glyphicon-chevron-right {
	height: 30px;
	top: -1px;
}

#text-login-msg, #text-register-msg, #text-lost-msg {
	font-size: 18px;
}

.form-control {
	border-radius: 0px;
}

#facebook_login {
	background: #365195;
	font-size: 18px;
}

.fa-facebook {
	color: #fff;
	font-size: 20px;
	display: inline-block;
}

#email_send, #email_check, #nickname_check, #lost_email_send,
	#lost_email_check {
	font-size: 15px;
	font-family: 'baemin';
}

#phoneNum_1, #phoneNum_2, #phoneNum_3 {
	width: 21.5%;
	display: inline-block;
}

#login, #join, #enter, #facebook_login {
	font-size: 18px;
	font-family: 'baemin';
	margin-top: 10px;
	margin-bottom: 10px;
}

#userInsert, #forgetPw, #register_login, #register_forgetPw,
	#lost_userInsert, #lost_login {
	font-family: 'baemin';
}

.pw_p {
	font-size: 12px;
	line-height: 1.2;
}

.ph_p {
	margin-top: 5px;
	margin-bottom: -5px;
	line-height: 1.2;
	font-size: 12px;
}

.modal-backdrop.in {
   opacity: .3;
}
