@charset "UTF-8";

<!-- 로그인,회원가입 스타일 -->
.home-headmenu {
  font-size: 12px;
  margin-bottom: 50px;
  text-align: center;
}
.home-headmenu .menu-links {
  display: inline-block;
  padding: 15px;
  list-style: none;
}
.home-headmenu .menu-links li {
  float: left;
  margin-right: 15px;
}