<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
#check_left_gride {
   padding-left: 0px;
   text-align : left;
}

#check_rigth_gride {
   padding-left: 0px;
   text-align : right;
}

.tab-content {
   font-size : 20px;
}

.nav-tabs {
   font-size : 20px;
}

.myinfo_input {
   border-radius : 5px;
   width : 300px;
}

#cancle {
   margin-left : 10%;
}

.btn {
   background-color : #3399ff;
   color : white;
}

</style>
</head>
<body>

<?include "include/head.html"?>

<div class="container">
<div class="row">
<div class="col-sm-6">
<h1>회원 정보 관리</h1>
</div>
</div>

      <br>
      
<div class="row">
<div class="col-sm-12">

<div class="container">
<ul class="nav nav-tabs">
<li class="active">
<a data-toggle="tab" href="#home">회원정보수정</a>
</li>
<li>
<a data-toggle="tab" href="#menu1">회원탈퇴</a>
</li>
</ul>

         <br>
         <br>
         <br>

<div class="col-sm-2"></div>

<form class="form-horizontal">
<fieldset>

<div class="tab-content">                  
<div id="home" class="tab-pane fade in active">

<!-- 아이디 입력창-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">아이디</label>  
<div class="col-md-3">
<input type="text" id="textinput" name="textinput" readOnly="readOnly" class="form-control input-md" placeholder="E-mail"/>
</div>
<div class="col-md-4">

</div>
</div>


<!-- 인증번호입력창-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">현재비밀번호</label>  
<div class="col-md-3">
<input id="textinput" name="textinput" type="password" placeholder="check-Number" class="form-control input-md">
</div>
</div>


<!-- 인증번호입력창-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">새 비밀번호</label>  
<div class="col-md-3">
<input id="textinput" name="textinput" type="password" placeholder="check-Number" class="form-control input-md">
</div>
</div>


<!-- 인증번호입력창-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">새비밀번호확인</label>  
<div class="col-md-3">
<input id="textinput" name="textinput" type="password" placeholder="check-Number" class="form-control input-md">
</div>
</div>



<!-- 닉네임입력창-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">닉네임</label>  
<div class="col-md-3">
<input id="textinput" name="textinput" type="text" placeholder="Nickname" class="form-control input-md">
</div>
<div class="col-md-4">
<button id="button1id" class="btn btn">중복확인</button>

</div>
</div>




<!-- 하단버튼 -->
<div class="form-group">
<label class="col-md-4 control-label" for="button1id"></label>
<div class="col-md-8">
<button id="button_join" name="button1id" class="btn btn">변경완료</button>
<button id="button_cancle" name="button2id" class="btn btn">취소</button>
</div>
</div>

</div><!--정보수정탭-->

<div id="menu1" class="tab-pane fade">
<h3>Menu 1</h3>
</div><!--회원탈퇴탭-->
</div><!--내용컨테이너-->
            

         </div> <!-- col-12 -->
      </div> <!-- row -->
   </div> <!-- 바깥 컨테이너 -->

   <?include "include/footer.html"?>

</body>
</html>